---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeparrot
  namespace: monitoring
  labels:
    app: kubeparrot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubeparrot
  template:
    metadata:
      labels:
        app: kubeparrot
    spec:
      serviceAccountName: kubeparrot
      containers:
      - name: kubeparrot
        image: tchelovilar/kubeparrot
        imagePullPolicy: Alwayss
        command: ["sleep"]
        args: ["50000"]
        env:
          - name: SLACK_WEBHOOK
            value: "webhook"
